@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-banner-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-9">
                <div class="home-banner-wrap">
                    <h2>Không ngừng truyền tải kiến thức</h2>
                    <p>Nghiên cứu bất kỳ chủ đề, bất cứ lúc nào. Chia sẻ kho tiếng anh lớn nhất từ trước tới nay!</p>
                    <form class="input" action="" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Bạn muốn tìm bài giảng nào?">
                            <div class="input-group-append">
                                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-fact-area">
    <div class="container-lg">
        <div class="row">

            <div class="col-md-4 d-flex">
                <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                    <i class="fas fa-bullseye float-left"></i>
                    <div class="text-box">
                        <h4>
                            Bài Giảng Trực Tuyến
                        </h4>
                        <p>Khám Phá Một Loạt Chủ Đề Nới</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                    <i class="fa fa-check float-left"></i>
                    <div class="text-box">
                        <h4>Hướng Dẫn Chuyên Mô</h4>
                        <p>Tìm Khóa Học Phù Hợp Với Bạn</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                    <i class="fa fa-clock float-left"></i>
                    <div class="text-box">
                        <h4>Truy Cập Trọn Đời</h4>
                        <p>Học Theo Lịch Trình Của Bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>