@model IEnumerable<CoursesViewModel>
@using GreenLesson.Models;
@{
    ViewData["Title"] = "Home Page";

    List<Course> listKhoaHocMoi = ViewBag.KhoaHocMoi;

}
<section class="home-banner-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-auto"></div>
            <div class="col-md-11">
                <div class="home-banner-wrap">
                    <h2>Không ngừng truyền tải kiến thức</h2>
                    <p>Nghiên cứu bất kỳ chủ đề, bất cứ lúc nào. Chia sẻ kho tiếng anh lớn nhất từ trước tới nay!</p>
                    <form class="input" action="" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Bạn muốn tìm bài giảng nào?">
                            <div class="input-group-append">
                                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-fact-area">
    <div class="container-lg">
        <div class="row">

            <div class="col-md-4 d-flex">
                <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                    <i class="fas fa-bullseye float-left"></i>
                    <div class="text-box">
                        <h4>
                            Bài Giảng Trực Tuyến
                        </h4>
                        <p>Khám Phá Một Loạt Chủ Đề Nới</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                    <i class="fa fa-check float-left"></i>
                    <div class="text-box">
                        <h4>Hướng Dẫn Chuyên Mô</h4>
                        <p>Tìm Khóa Học Phù Hợp Với Bạn</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                    <i class="fa fa-clock float-left"></i>
                    <div class="text-box">
                        <h4>Truy Cập Trọn Đời</h4>
                        <p>Học Theo Lịch Trình Của Bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="course-carousel-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2 class="course-carousel-title">Khoá Học mới nhất</h2>
                </div>
                <div class="container">
                    <div class="row">
                        @foreach (var item in listKhoaHocMoi)
                        {
                            <div class="col-md-3">
                                <div class="course-carousel">
                                    <div class="course-box-wrap">
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            <div class="course-box">
                                                <div class="course-image">
                                                    <img src="~/Uploads/@item.Thumbnail" alt="" class="img-fluid" style="width:auto; height:180px;">
                                                </div>
                                                <div class="course-details">
                                                    <h5 class="title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                                    <p class="instructors">
                                                        @Html.DisplayFor(modelItem => item.UserId)
                                                        
                                                        <span class="rating">
                                                            <i class="fas fa-star filled"></i>&nbsp
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                        </span>
                                                    </p>
                                                    <p class="category text-right">Danh mục bài giảng</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
    </div>
</section>

<style>
    


    
</style>