/*Home page*/
.pb-3 .bodymain {
    padding-left: 50px;
    padding-right: 50px;
}
.home-banner-area {
    background-image: url('../image/homebanner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 170px 0 130px;
    color: #fff;
    text-align: center;
}

.home-banner-wrap {
    max-width: 500px;
}

    .home-banner-wrap h2 {
        float: left;
        font-size: 44px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 10px;
        text-shadow: 0 2px 4px rgba(41,48,59,.55);
    }

    .home-banner-wrap p {
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 30px;
        text-shadow: 0 2px 4px rgba(41,48,59,.55);
    }

    .home-banner-wrap input[type="text"] {
        font-size: 20px;
        height: 50px;
        padding: 11px 17px;
        border: none;
        border-radius: 3px 0 0 3px;
        font-weight: 300
    }

    .home-banner-wrap .btn {
        padding: 10px 14px;
        font-size: 20px;
        background: #fff;
        border: 0;
        border-radius: 0 3px 3px 0;
        color: #ec5252;
    }

        .home-banner-wrap .btn:hover {
            background: #ec5252;
            color: #fff;
        }

.home-fact-area {
    background-color: #6ff31d;
    background: -webkit-linear-gradient(-45deg,#6ff31d,#16c30a);
    background: -moz-linear-gradient(-45deg,#6ff31d 0,#16c30a 100%);
    background: -ms-linear-gradient(-45deg,#6ff31d 0,#16c30a 100%);
    background: -o-linear-gradient(-45deg,#6ff31d 0,#16c30a 100%);
    background: linear-gradient(-45deg,#6ff31d,#16c30a);
    color: #fff;
    padding: 15px 0;
    margin-bottom: 50px
}

.home-fact-box .text-box {
    padding: 10px 0 10px 63px;
}

.home-fact-box i {
    font-size: 47px;
    margin-top: 8px;
}

.home-fact-box .text-box h4 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
}

.home-fact-box .text-box p {
    font-size: 15px;
    margin-bottom: 0;
}

/*Course*/
.course-carousel-area {
    margin-bottom: 20px;
    overflow-x: hidden;
}

.course-carousel-area .course-carousel-title {
        padding-bottom: 30px;
        float: left;
        font-size: 25px;
        color: #505763;
      
    }

.course-carousel-area .slick-slider {
        width: calc( 100% + 16px );
        margin-left: -8px;
    }

.course-carousel-area .slick-list:before,
    .course-carousel-area .slick-list:after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        height: 100%;
        width: 8px;
        background: #f7f8fa;
        z-index: 1;
    }

.course-carousel-area .slick-list:after {
        right: auto;
        left: 0
    }

.course-carousel .slick-prev:hover,
.course-carousel .slick-next:hover {
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}
.course-carousel .slick-prev:focus,
.course-carousel .slick-next:focus {
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1) !important;
}
.course-carousel .slick-prev,
.course-carousel .slick-next {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 1;
    top: calc( 50% - 25px);
}

.course-carousel .slick-prev {
    left: -28px;
}

    .course-carousel .slick-prev.slick-disabled,
    .course-carousel .slick-next.slick-disabled {
        opacity: 0;
    }

.course-carousel .slick-prev:before {
        content: url(../img/icons/prev_arrow.png);
        line-height: 0;
        opacity: 1
    }

.course-carousel .slick-next {
    right: -15px
}

.course-carousel .slick-next:before {
        content: url(../img/icons/next_arrow.png);
        line-height: 0;
        opacity: 1;
    }

.course-box-wrap:focus {
    outline: none;
}

.course-box-wrap {
    padding: 0 8px;
    margin-bottom: 20px;
}

.course-box-wrap a {
        color: #fff;
    }

.course-box-wrap a:hover {
            text-decoration: none;
        }

.course-box {
    position: relative;
    background: #fff;
}

    .course-box:before,
    .course-box:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        will-change: opacity;
        transition: .2s ease;
        -webkit-transition: .2s ease;
        -ms-webkit-transition: .2s ease;
        z-index: -1;
    }

    .course-box:before {
        opacity: 1;
        box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
        -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
        -ms-webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    }

    .course-box:after {
        opacity: 0;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
        -webkit-box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
        -ms-webkit-box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    }

    .course-box:hover:before {
        opacity: 0;
    }

    .course-box:hover:after {
        opacity: 1;
    }

    .course-box .play-btn {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/icons/icon-play.svg) no-repeat;
        background-size: auto 40%;
        background-position: 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        z-index: 1
    }

    .course-box .course-image:hover > .play-btn {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        visibility: visible;
        opacity: 1;
    }

    .course-box .course-details {
        padding: 15px 10px 0px 15px;
        position: relative;
        padding-bottom: 20px;
    }

        .course-box .course-details .title {
            display: block !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -moz-line-clamp: 2;
            -ms-line-clamp: 2;
            -o-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            -o-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            font-weight: 600;
            height: 36px;
            min-height: 42px;
            font-size: 15px;
            color: #29303b;
            margin-bottom: 10px;
            line-height: 20px;
        }

        .course-box .course-details .instructors {
            display: block !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 1;
            -moz-line-clamp: 1;
            -ms-line-clamp: 1;
            -o-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            -o-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            min-height: 21px;
            height: 21px;
            font-size: 12px;
            color: #686f7a;
            margin-bottom: 5px;
        }

        .course-box .course-details .rating {
            margin-bottom: 10px;
        }

            .course-box .course-details .rating i {
                font-size: 11px;
            }

            .course-box .course-details .rating .rating-number {
                color: #29303b;
                margin-bottom: 0;
                font-size: 12px;
            }

                .course-box .course-details .rating .rating-number span {
                    font-weight: 600;
                    color: #a1a7b3;
                    margin-left: 5px;
                }

        .course-box .course-details .category {
            padding-top: 35px;
            color: #29303b;
            font-size: 18px;
            font-weight: 600;
            margin-right: 10px;
        }

            .course-box .course-details .category small {
                color: #686f7a;
                font-weight: 400;
                font-size: 13px;
                margin-right: 5px;
                text-decoration: line-through;
            }

        .course-box .course-details .completed-percent .progress-bar {
            background: #007791;
        }

        .course-box .course-details .completed-percent .progress {
            border-radius: 0;
            height: 2px;
            background-color: rgba(41,48,59,.25);
        }

        .course-box .course-details .completed-percent {
            margin-top: 10px;
            padding-bottom: 30px;
        }

            .course-box .course-details .completed-percent .text {
                width: 50%;
                color: #686f7a;
                font-size: 13px;
            }

        .course-box .course-details .your-rating-box {
            position: absolute;
            right: 10px;
            bottom: 3px;
            margin-bottom: 0;
            z-index: 1;
            text-align: right;
        }

            .course-box .course-details .your-rating-box .your-rating-text {
                margin-bottom: 0;
                font-size: 13px;
                color: #29303b;
                margin-top: 2px;
            }

            .course-box .course-details .your-rating-box:hover .your-rating-text {
                color: #ec5252;
            }

            .course-box .course-details .your-rating-box .your-rating-text .edit {
                display: none;
            }

            .course-box .course-details .your-rating-box:hover .your-rating-text .edit {
                display: unset;
            }

            .course-box .course-details .your-rating-box:hover .your-rating-text .your {
                display: none;
            }

            .course-box .course-details .your-rating-box i {
                color: transparent;
                text-stroke: 1px #eaeaea;
                -webkit-text-stroke: 1px #eaeaea;
                font-size: 17px;
                letter-spacing: -0.1em;
            }

                .course-box .course-details .your-rating-box i.filled {
                    color: #f4c150;
                }




.course-badge {
    color: #29303b;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    pointer-events: none;
    border-radius: 3px;
    font-size: 9px;
    padding: 1px 8px;
    font-weight: 700;
    position: relative;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

    .course-badge:after {
        border-radius: 3px;
        right: -4px;
        background: inherit;
        content: "";
        height: 11px;
        position: absolute;
        top: 2px;
        transform: rotate(45deg);
        width: 11px;
        z-index: 0;
        display: block;
    }

    .course-badge.best-seller {
        background: #f4c150
    }

    .course-badge.hot-new {
        background: #ec5252;
        color: #fff;
    }

    .course-badge.position {
        position: absolute;
        top: 12px;
        left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.course-box .course-image {
    position: relative;
}

    .course-box .course-image:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-webkit-transition: 0.2s;
    }

.course-box .wishlist-add,
.course-box .favorite-add {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

    .course-box .wishlist-add button,
    .course-box .favorite-add button {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;
    }

        .course-box .wishlist-add button:hover i,
        .course-box .wishlist-add.wishlisted button i,
        .course-box .favorite-add button:hover i,
        .course-box .favorite-add.added button i {
            color: #ec5252;
        }

        .course-box .wishlist-add button i,
        .course-box .favorite-add button i {
            text-stroke: 1px #fff;
            -webkit-text-stroke: 1px #fff;
            font-size: 16px;
            color: #686f7a;
        }

.course-box .instructor-img-hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 10px;
    left: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-webkit-transition: 0.2s;
}

    .course-box .instructor-img-hover img {
        border: 3px solid #fff;
        width: 48px;
        height: 48px;
        margin-bottom: 8px;
    }

    .course-box .instructor-img-hover span {
        color: #fff;
        font-weight: 600;
        font-size: 13px;
        text-stroke: .4px #fff;
        -webkit-text-stroke: .4px #fff
    }

.course-box:hover .instructor-img-hover,
.course-box:hover .course-image:before {
    opacity: 1;
    visibility: visible;
}

.course-box .course-details .instructors .name {
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    min-height: 21px;
    height: 21px;
    font-size: 12px;
    color: #686f7a;
    margin-bottom: 5px;
}
.course-box .course-details .instructors .rating {
    float: right;
    color:#a1a7b3;
}